@charset "utf-8";
/*css reset*/
h1, h2, h3, h4, h5, h6 {
	font-size: 100%
}
form {
	display: inline
}
ul, ol, dl, li, dd, dt {
	list-style: none;
	padding: 0;
	margin: 0;
}
img {
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}
button, input, select, textarea {
	font-size: 100%;
	vertical-align: middle;
	outline: none;
}
textarea {
	resize: none
}
button, input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
	-moz-appearance: button
}
input:focus:-moz-placeholder, input:focus::-webkit-input-placeholder {
color:transparent;
font-size:12px;
}
button::-moz-focus-inner, input::-moz-focus-inner {
padding:0;
border:0
}
input::-webkit-input-placeholder {
color:#dfdfdf;
font-size:12px;
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
td, th {
	padding: 0;
}
p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}
em, i {
	font-style: normal;
}
ins {
	text-decoration: none;
}
* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
html, body {
	margin: 0 auto;
	padding: 0;
	font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
	font-size:14px;
	max-width: 640px;
	min-width: 320px;
	-webkit-text-size-adjust: none;
	overflow-y:auto;
	overflow-x:hidden;
}
a {
	text-decoration: none;
	outline: none;
}
.hide {
	display: none;
}
/*common*/
a.wx_blue{
	font-size:12px;
	color:#0077d2
}
.clearfix {
	zoom: 1;
}
.clearfix:after {
	content: '.';
	display: block;
	visibility: hidden;
	clear: both;
	height: 0px;
}
.wx_wrap {
	padding: 0 20px;
}
.wx_fs28 {
	font-size: 28px;
}
.wx_pdb50 {
	padding-bottom: 50px;
}
.wx_strickout {
	text-decoration:line-through;
}
.fl { float:left; }
.fr { float:right; }
/*flex box layout*/
.wx_flex_btw {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
.wx_flex_btw span {
	padding: 0;
	margin: 0;
	display:block;
}

/*top*/
.wx_top {
	height: 45px;
	line-height: 45px;
	background: #eb5e01;
	vertical-align: text-top;
	margin-bottom: 24px;
	position:relative;
}
.wx_top_logo {
	display: inline-block;
	height:100%;
	line-height:normal;
	width: 95px;
	vertical-align: middle;
	background: url(../img/wx_logo.png?v=20150616) 15px 3px no-repeat;
	background-size: 70px 33px;
}
.wx_top_gap {
	border-left: 2px solid #fff;
	height: 14px;
	margin-left: 2px;
	display: inline-block;
	vertical-align: middle;
}
.wx_top_title {
	color: #fff;
	height: 24px;
	line-height: 24px;
	padding-left: 4px;
	font-size: 14px;
	vertical-align: middle;
}
.wx_top_balance {
	position:absolute;
	top:0; 
	right:0;
	padding: 5px 10px 0 0;
	color: #fff;
}
.wx_top_balance p {
	padding: 0;
	margin: 0;
	height: 18px;
	line-height: 18px;
	text-align: right;
	font-size: 12px;
	overflow: hidden;
}
.wx_top_balance p em {
	font-size: 15px;
}
.wx_top_btn {
	position:absolute;
	top:0; 
	right:0;
	padding: 0 15px 0 0;
	color: #fff;
}
.wx_top_btn a { color:#fff; text-decoration:none; margin-left:10px; }
/*底部导航*/
.foot {
	width: 100%;
	max-width: 640px;
	margin: 0px auto;
	height: 48px;
	border-top: 1px #d0d0d0 solid;
	background-color: #f4f4f4;
	position: fixed;
	bottom: 0px;
	z-index:99;
	overflow:hidden;
}
.foot_nav_list {
	display: block;
	padding: 0 0px 6px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
.foot_nav {
	width: 24%;
	display: inline-block;
	text-align: center;
}
.foot_nav a {
	padding-top:5px;
	width: 100%;
	color: #666;
	font-size:12px;
	height:43px;
	display:block;
}
.foot_nav a em { font-size:12px; }
.foot_nav a i { display:block; width:22px; height:23px; margin:0 auto; background:url(../img/foot_icons.png) left top no-repeat; background-size:154px 52px; }
a.nav_index_cur,a.nav_invest_cur,a.nav_account_cur,a.nav_about_cur { color: #fd7500; }
a.nav_index i { background-position:0 0; width:25px; }
a.nav_index_cur i { background-position:0 -30px; width:25px; }

a.nav_invest i { background-position:-35px 0; }
a.nav_invest_cur i { background-position:-35px -30px; }

a.nav_account i { background-position:-65px 0; }
a.nav_account_cur i { background-position:-65px -30px; }

a.nav_about i { background-position:-95px 5px; width:38px; }
a.nav_about_cur i { background-position:-95px -25px; width:38px; }

.PCstyle{
	position:relative;
	width:200px;
	text-align:center;
	height:50px;
	margin:0 auto;
}
.PCstyle a { display:block; width:50%; float:left; }
.PCstyle span{
	padding:10px;
	display:block;
	color:#666;
	font-size:12px;
}


/*loading*/
.wx_loading {
	margin-top: 20px;
	height: 28px;
	line-height:28px;
	background: url(../img/wx_loading.gif) center center no-repeat;
	text-align: center;
	background-size: 20px 20px;
}
/*按钮*/
.wx_btn_org {
	display: block;
	height: 48px;
	line-height: 48px;
	text-align: center;
	background: #fd7500;
	color: #fff;
	font-size: 20px;
}
.wx_btn_org:link,.wx_btn_org:visited,.wx_btn_org:hover,.wx_btn_org:active { color:#fff; }
.wx_btn_green {
	display: block;
	height: 48px;
	line-height: 48px;
	text-align: center;
	background: #82c72d;
	color: #fff;
	font-size: 20px;	
}
.wx_btn_green:link,.wx_btn_green:visited,.wx_btn_green:hover,.wx_btn_green:active { color:#fff; }


.wx_btn_grey {
	display: block;
	height: 48px;
	line-height: 48px;
	text-align: center;
	background: #e0d9c7;
	color: #888;
	font-size: 20px;
}
.wx_btn_grey:link,.wx_btn_grey:visited,.wx_btn_grey:hover,.wx_btn_grey:active { color:#888; }
.wx_btn_blue { 
	display: block;
	height: 44px;
	line-height: 44px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	background:#368FF4; 
	color:#fff; 
}
.wx_btn_blue:link,.wx_btn_blue:visited,.wx_btn_blue:hover,.wx_btn_blue:active { color:#fff; }
.wx_btn_code { 
	display: block;
	height: 44px;
	line-height: 44px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	background:#f7ae48; 
	color:#fff; 
}
.wx_btn_blue:link,.wx_btn_blue:visited,.wx_btn_blue:hover,.wx_btn_blue:active { color:#fff; }
.wx_btn_disabled { background:#c9c9c9; }
/*提示*/
.wx_tip {
	border: #f00 solid 1px;
	background: #fff9e3;
	padding: 12px 8px;
	margin-top: 10px;
	color: #f00;
	font-size:12px;
}
.wx_tip h5 {
	color: #fd7500;
	padding: 0 0 10px 0;
	margin: 0;
}
.wx_tip ins {
	display: block;
	width: 100%;
}
.wx_tip p {
	line-height: 22px;
	color: #666;
	word-break:break-all;
	word-wrap:break-word;
}
.wx_tip p strong {
	color: #666;
	font-size: 12px;
}
.wx_tip p em.red { color:#fd7500; font-weight:normal; line-height:22px; padding:0; margin:0; }

.wx_tip2 {
	border: #e0af48 solid 1px;
	background: #fff9e3;
	padding: 12px 8px;
	margin-top: 10px;
	color: #fd7500;
	font-size:12px;
}
.wx_tip2 span.black { color:#666; }
.wx_tip_voice { line-height:20px; padding:5p 0; color:#666; }
.wx_tip_voice a { margin-left:10px; }
.wx_phone { color:#fd7500; }

/*tab*/
.wx_list_tab {
	background: #fcf8f0;
	height: 28px;
	padding: 11px 21px;
	overflow: hidden;
}
.wx_list_tab a {
	display: block;
	width: 50%;
	float: left;
	height: 28px;
	background: #fff;
	overflow: hidden;
}
.wx_list_tab a span {
	display: block;
	height: 26px;
	line-height: 26px;
	border: #fd7500 solid 1px;
	text-align: center;
	color: #fd7500;	
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.wx_list_tab a span i {
	font-size: 12px;
	background: #fd7500;
	color: #fff;
	display: block;
	width: 18px;
	height: 18px;
	line-height: 18px;
	text-align: center;
	font-style: normal;
	border-radius: 100%;
	overflow: hidden;
	position: relative;
	top: 4px;
	left: 4px;
	visibility:hidden;
}
.wx_list_tab a.select {
	background: #fd7500;
}
.wx_list_tab a.select span {
	color: #fff;
}
.wx_list_tab a.select span i {
	background: #fff;
	color: #fd7500;
}
/*圆形进度*/
.progress-round {
	display: inline-block;
	position: relative;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-image: linear-gradient(90deg, #e2e2e2 50%, transparent 50%, transparent), linear-gradient(90deg, #cfa74a 50%, #e2e2e2 50%, #e2e2e2);
	background-image: -webkit-linear-gradient(90deg, #e2e2e2 50%, transparent 50%, transparent), -webkit-linear-gradient(90deg, #cfa74a 50%, #e2e2e2 50%, #e2e2e2);
	position: relative;
	top: 18px;
}
.progress-round:after, .progress-round:before {
	content: '';
	width: 35px;
	height: 35px;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	margin-left: -17.5px;
	margin-top: -17.5px;
	position: absolute;
	z-index: 999
}
.progress-round:after {
	z-index: 998;
	box-shadow: none;
	transform:
}
.progress-round b:after { /*改变后面的百分比，可改变进度条的宽度*/
	width: 84%;
	height: 84%;
	left: 16%;
	top: 16%;
	margin-left: -8%;
	margin-top: -8%;
	color: #ff7e00;
	position: absolute;
	font-weight: 900;
	background-color: #fff;
	border-radius: 50%;
	text-align: center;
	line-height: 45px;
	font-size: 14px;
	content: ""
}
.progress-round i, .progress-round em {
	z-index: 999;
	font-style: normal;
	color: #666;
	height: 20px;
	line-height: 30px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	position: relative;
	top: 15px;
}
.progress-round i {
	margin-left: 12px;
}
.progress-round em {
	font-size: 12px;
}
/*条形进度条*/
.wx_progress {
	height: 9px;
	background: #e2e2e2;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 5px;
}
.wx_progress span {
	background: #fd7500;
	display: block;
	height: 9px;
}
/*小图标->奖励,可转让*/
.wx_icon_box { font-style:normal; float:left; display:block; }
.wx_icon {
	display: block;
	float: left;
	color: #fff;
	height: 12px;
	line-height: 12px;
	font-size: 10px;
	width: auto;
	border-radius: 4px;
	margin: 0;
	text-decoration: none;
	overflow: hidden;
	margin: 6px 3px 6px 0;
}
.wx_reward {
	height: 11px;
	border: #fa6b0d solid 1px;
	background:#fa6b0d;
	text-align: right;
	padding-right: 2px;
	padding-left: 0px;
	color:#fff;
	line-height:10px;
	position:relative; top:-1px;
}
.wx_reward ins {
	display: block;
	height: 11px;
	line-height: 11px;
	background: #fff;
	color: #fa6b0d;
	margin-right: 2px;
	padding: 0 1px;
	float: left;
	text-decoration: none;
	border-radius: 2px 0 0 2px;
	overflow: hidden;
	float:left;
}
.wx_reward i { display:block; height:11px; line-height:11px; float:left; color:#fff !important; font-size:10px !important; }
.wx_reward_nba { background:url(../img/wx_list/wx_icon_nba.gif) left top no-repeat; width:25px; height:23px; background-size:25px 13px; }
.wx_reward_nba2 {
	height: 13px;
	text-align: right;
	padding-right: 31px;
	padding-left: 1px;
	background:url(../img/wx_list/wx_nba_rebate.png) right top no-repeat;
    background-size:32px 13px;
	overflow:hidden;
}
.wx_reward_nba2 ins {
	border: #005faf solid 1px;
	border-right:none;
	display: block;
	height: 11px;
	line-height: 11px;
	color: #005faf;
	margin-right: -2px;
	padding: 0 1px;
	padding-right:3px;
	float: left;
	text-decoration: none;
	border-radius: 3px 0 0 3px;
	overflow: hidden;
}

.wx_reward_518 {
	height: 13px;
	text-align: right;
	padding-right: 31px;
	padding-left: 1px;
	background:url(../img/wx_list/wx_icon_518.gif) right top no-repeat;
    background-size:32px 13px;
	overflow:hidden;
}
.wx_reward_518 ins {
	border: #620a60 solid 1px;
	border-right:none;
	display: block;
	height: 11px;
	line-height: 11px;
	color: #620a60;
	margin-right: -2px;
	padding: 0 1px;
	padding-right:3px;
	float: left;
	text-decoration: none;
	border-radius: 3px 0 0 3px;
	overflow: hidden;
}

.wx_reward_vip { background:url(../img/wx_list/wx_icon_vip.gif) left top no-repeat; width:25px; height:23px; background-size:25px 13px; }

.wx_transfer {
	background: #4ba4ef;
	padding: 1px 3px 0 3px;
}
.wx_limited {
	background: #f00;
	padding: 1px 3px 0 3px;
}
@-moz-document url-prefix() {
	.wx_icon { line-height:9px; }
	.wx_reward ins { line-height:9px; }
	.wx_reward i { line-height:9px !important; }
}
/*新手*/
.wx_icon_hot {
	background: url(../img/wx_list/wx_invest_hot.png) right top no-repeat;
	background-size: 45px 45px;
}
.wx_icon_hq {
	background: url(../img/wx_list/wx_invest_hq.png) right top no-repeat;
	background-size: 45px 45px;
}
.wx_icon_new {
	background: url(../img/wx_list/wx_invest_new.png) right top no-repeat;
	background-size: 45px 45px;
}
.wx_icon_vip {
	background: url(../img/wx_list/wx_invest_vip.png) right top no-repeat;
	background-size: 45px 45px;
}

.wx_icon_weixin {
	background: url(../img/wx_list/wx_invest_weixin.png) right top no-repeat;
	background-size: 45px 45px;
}
/*加载更多*/
.wx_get_more,
.wx_get_nomore { height:50px; line-height:50px; text-align:center; color:#666; text-decoration:none; display:block; }
.wx_get_nomore { color:#999 }


/*form元素*/
.input-box{
	border:none;
	width:100%;
	position:relative;
}
.input-box .label { 
	display:block;
	padding:20px 0 10px 0; 
	color:#666;
	font-size:14px;
}
.input-box .label-fl { padding-top:14px; display:block; float:left; min-width:80px; }
.input-box .label-first { padding-top:0; }
.input-box .label-text { margin-bottom:7px; }
.input-box .label-text span { margin-left:15px; color:#333; }
.input-text { 
	outline:none;
	width:100%;
	height:44px;
	border:2px solid #999999;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	font-size:14px;
	padding-left:35px;
}
.input-text:focus { border-color:#cda148; }
.input-text-2 { 
	border:2px solid #eee; 
	border-bottom:#b6b6b6 solid 2px; 
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding-left:12px;
	height:44px;
	width:100%;
	outline:none;
}
.input-text-box { display:block; overflow:hidden; }
.input-mobile { background:url("../img/register/tel.png") no-repeat 10px 10px; background-size:12px 20px; }
.input-mobile:focus {  background:url("../img/register/tel_cur.png") no-repeat 10px 10px; background-size:12px 20px; }
.input-password { background:url("../img/register/pass.png") no-repeat 10px 10px; background-size:12px 20px; }
.input-password:focus {  background:url("../img/register/pass_cur.png") no-repeat 10px 10px; background-size:12px 20px; }
.input-no-icon { padding-left:12px; }
.input-captcha-img { position:absolute; right:-119px; top:0px; }
.input-captcha-img img { border:none; width:109px;height:44px; }
.input-pass-hide {
	display: block;
	width: 50px;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	color: #666;
	background-color: #f9f0dd;
	text-align: center;
	cursor: pointer;
	margin:0; 
	padding:0;
	overflow:hidden;
	position:absolute;
	right:2px;
	margin-top:-42px;
}
.input-error { border:#f00 2px solid; }
.input-btn  {
	padding-top:25px;	
}
.input-check {
	padding-top:15px;
}
.input-check-img {
	display:inline-block;width:15px;height:15px;background:url('../img/register/checkbox.png') no-repeat;background-size:15px 15px; position:relative; top:2px; 
}
.input-checked-img { background-image:url(../img/register/checked.png); }

.input-tip { position:absolute; right:10px; margin-top:-30px; width:16px; height:16px; display:none; }
.input-checking { background:url(../img/wx_checking.gif) center center no-repeat; }
.input-checking-ok { background:url(../img/wx_checking_ok.png) center center no-repeat; background-size:15px 15px; }
.input-checking-fail { background:url(../img/wx_checking_fail.png) center center no-repeat;  background-size:15px 15px; }
.input-code-box { display:block; overflow:hidden; padding-right:100px; width:auto; position:relative; }
.input-code-box input { float:left; width:100%; border-right:none; }
.input-code-box input::-webkit-input-placeholder { color:#dfdfdf; font-size:12px; }
.input-code-btn { background: #f7ae48; height: 44px; line-height: 44px; float: right; width: 100px; text-align: center; color: #fff; font-size: 12px; position:absolute; right:0; top:0; }
.input-disabled { background:#999; }
.input-readonly { background-color:#fff; color:#9c9c9c }
.input-select { background:url(../img/draw/draw-sel.png) right center no-repeat; background-size:27px 20px; color:#5ca3e1; padding-right:38px; }
.input-select-disabled { background-color:#ededed; color:#c8c8cd; }

/*成功提示页面*/
.wx_invest_center { display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
}
.wx_invest_ok { background:url(../img/wx_list/wx_arrow_icon.gif) left 5px no-repeat; background-size:28px 28px; margin:40px 0; padding-left:40px; max-width:80%; }
.wx_invest_error { background-image:url(../img/wx_list/wx_error.gif); background-position:left center; }
.wx_invest_tip { background-image:url(../img/wx_list/wx_tip.gif); background-position:left center; }
.wx_invest_ok p { color:#666; font-size:14px; line-height:24px; }
.wx_invest_ok p i { color:#fd7500; }
.wx_invest_ok p a { color:#3286c4; text-decoration:none; }
.wx_invest_ok p span { color:#9c9c9c; font-size:12px; }
.wx_ok_oneline { height:38px; line-height:38px; }
.wx_ok_oneline p.nowrap { line-height:38px; white-space:nowrap; }


/*增加超链接样式*/
.wx_tip4{
	font-size:13px!important;
	line-height:18px;
	margin-top:12px;
	display:none;
}
.wx_href_1{
	color:#3366ff;
	text-decoration:underline;
	font-size:13px!important;
	line-height:20px;
}

/*2015.05.20*/
.body-bg { background:#f3f3f1; padding-bottom:80px; }
.fm-hide { display:none; }
.fm-hr { height:11px; display:block; padding:0; margin:0; border:none; background:#f3f3f1; border-bottom:#e5e5e5 solid 1px; }
.fm-bdt { border-top:#e5e5e5 solid 1px !important; }
.fm-bdb { border-bottom:#e5e5e5 solid 1px !important; }
.fm-bdmt { border-top:#e5e5e5 solid 1px; margin-top:2px !important; }
.fm-bbmb { border-bottom:#e5e5e5 solid 1px; margin-bottom:9px !important; }
.fm-nobg { background:none !important; }
.fm-select { color:#5ca3e1; }
.fm-area { background:#fff; border-top:#e5e5e5 solid 1px; border-bottom:#e5e5e5 solid 1px; padding:20px; }
.fm-info { font-size:12px; color:#666; line-height:23px; text-align:center; }
.fm-info em { color:#fd7500; }
.fm-item { height:50px; position:relative; background-color:#fff; border-bottom:#e5e5e5 solid 1px; overflow:hidden; }
.fm-item fieldset { padding:0; margin:0; list-style:none; border:none; }
.fm-label { width:53px; position:absolute; left:0; top:0; height:50px; display:block; z-index:9; }
.fm-label i { display:block; position:absolute; right:0; bottom:0; width:1px; background-color:#e5e5e5; height:6px; }
.fm-label span { display:block; width:100%; height:100%; background-image:url(../img/form/fm_icon.png); background-size:60px 300px; margin:15px auto 0; }
.fm-box { width:auto; display:block; height:50px; margin-left:60px; border-bottom:#e5e5e5 solid 1px; position:relative; }
.fm-item-r .fm-box { margin-right:110px; position:relative; }
.fm-item-btn { width:110px; position:absolute; right:-110px; top:0; display:block; height:50px; line-height:50px; font-size:13px; color:#fff; background:#f7ae48; text-align:center; text-decoration:none; }
.fm-disabled { background:#c9c9c9; color:#666; text-shadow: 0px 1px 0px #e5e5ee;}
.fm-input { height:50px; border:none; width:100%; background:#fff; }
.fm-input-val { height:50px; line-height:51px; color:#666; }

.fm-arrow { position:absolute; right:10px; top:15px; color:#666; height:26px; overflow:hidden;}
.fm-arrow i { display:block; width:10px; height:13px; background:url(../img/form/fm_icon.png) -50px -2px no-repeat; background-size:60px 300px; float:right; margin:3px 8px 0 20px; }
.fm-icon { position:absolute; right:16px; top:15px; width:17px; height:17px; overflow:hidden; display:none; }
.fm-clear { background:url(../img/form/fm_icon.png) left -77px no-repeat; background-size:60px 300px; display:none; }
.fm-action { position:absolute; right:16px; top:0; width:27px; height:17px; overflow:hidden; color:#5ca3e1; font-size:13px; display:block; height:50px; line-height:50px; }
.fm-checking { background:url(../img/wx_checking.gif) center center no-repeat; background-size:auto; }
.fm-checking-ok { background:url(../img/wx_checking_ok.png) center center no-repeat; background-size:17px 17px; }
.fm-checking-fail { background:url(../img/wx_checking_fail.png) center center no-repeat;  background-size:17px 17px; }


.fm-error { display:none; line-height:20px; text-align:center; color:#ff0000; font-size:12px; padding-top:10px; }
.fm-error a { color:#368ff4; text-decoration:none; margin-left:5px; }
.fm-agreement { font-size:12px; text-align:center; color:#666; }
.fm-agreement a { color:#368ff4; text-decoration:none; }
.fm-progress { height:45px; background-color:#fff; border-bottom:#e5e5e5 solid 1px; }
.fm-progress-step { height:25px; line-height:25px; padding:3px 0; }
.fm-progress-step span { display:block;height:25px; line-height:25px; float:left; width:33.3333%; font-size:12px; color:#999; text-align:center; }
.fm-progress-step span.curr { color:#fd7500; }
.fm-progress-line { display:block; height:3px; background:#d7d7d7; margin:0 15%; }
.fm-progress-line i { height:3px; display:block; background:#fd7500; width:0; border-radius:40px; position:relative; }
.fm-progress-line span { display:block; height:9px; width:9px; background:#fd7500; border-radius:100%; position:absolute; right:-3px; top:-3px; z-index:9; }
.fm-tip { font-size:12px; padding:20px; line-height:22px; margin-top:1px; border-top:#e5e5e5 solid 1px; border-bottom:#e5e5e5 solid 1px; background-color:#fff; color:#666; }
.fm-tip strong { color:#fd7500; padding:0 4px; font-weight:normal; }
.fm-tip a { color:#368ff4; }
.fm-tip a i { color:#666; display:block; }
.fm-tip2 { padding:0 10px 0 20px; margin-top:0; border-top:0; height:42px; line-height:42px; border-bottom:#e5e5e5 solid 1px; background:#fff; }
.fm-tip3 { padding:20px 40px; background:#fff; text-align:center; }
.fm-tip3-icon { display:block; width:29px; height:29px; background:url(../img/form/fm_icon.png) 0 -181px no-repeat; background-size:60px 300px; position:absolute; left:0; top:0px; }
.fm-tip3-main { padding:5px 0 0 40px; position:relative; text-align:left; margin:0 auto; display:block; }
.fm-tip3-main h3 { font-size:16px; color:#666; padding-bottom:5px; }
.fm-tip3-main p { color:#999; font-size:12px; line-height:22px; }
.fm-tip3-main p em { color:#fd7500; }
.fm-tip4 { line-height:18px; font-size:12px; color:#bb7d01; padding:10px; background-color:#fef2ba; }
.fm-tip4 a { text-decoration:underline; }
.fm-tip4 ul { padding-left:20px; }
.fm-tip4 ul li { list-style: decimal; font-size:10px; }
.fm-btn { padding:25px 15px; text-align:center; }
.fm-btn-org { font-size:18px; color:#fff; }
.fm-btn-org:link,.fm-btn-org:visited,.fm-btn-org:hover,.fm-btn-org:active { color:#fff; }

.fm-text .fm-label span { background:none; text-align:center; color:#666; font-size:12px; }
.fm-mobile .fm-label span { width:12px; height:18px; background-position:0 0; }
.fm-password .fm-label span { width:16px; height:20px; background-position:0 -38px; }
.fm-refferee .fm-label span { width:18px; height:20px; background-position:0 -153px; }
.fm-refferee-text { color:#333; font-size:14px; height:50px; line-height:50px; border-top:#e5e5e5 solid 1px; border-bottom:#e5e5e5 solid 1px; margin-top:10px; background-color:#fff; padding-left:18px; }
.fm-item2 { margin-bottom:0; }
.fm-item2 .fm-label { width:70px; padding-top:2px; }
.fm-item2 .fm-label span { text-align:left; padding-left:13px; }
.fm-item2 .fm-box { margin-left:70px; }
.fm-item2 .fm-bankmobile .fm-label { width:120px; }
.fm-item2 .fm-bankmobile .fm-box { margin-left:120px; }
.fm-item2 .fm-vcode .fm-label { width:60px; }
.fm-item2 .fm-vcode .fm-box { margin-left:60px; }
.fm-item2 .fm-dealpassword .fm-label { width:100px; }
.fm-item2 .fm-dealpassword .fm-box { margin-left:100px; }


.fm-focus { border-bottom:#cda148 solid 1px; }
.fm-focus .fm-label i { background-color:#cda148; }
.fm-focus .fm-mobile .fm-label span { background-position:-20px 0; }
.fm-focus .fm-password .fm-label span { background-position:-20px -38px; }

.fm-title { color:#999; padding-left:12px; height:30px; line-height:30px; }
.fm-ad-text { padding:0 15px; color:#666; font-size:14px; text-align:center; line-height:22px; }
.fm-ad-text em { color:#ff0000; }
